*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(238, 213, 213);
    height: 100vh;
    overflow:hidden;
    display: flex;
    justify-content: center;
}
.box{
    background-color:white;
    height: 45%;
    width: 35%;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#img{
    height: 40%;
}