.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 400px;
    width: 400px;
    margin:auto;
    background-color: rgb(157, 73, 126);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s linear 1s;
}

.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(2); */
    /* transform: scale(0.6); */
    /* transform: rotate(-50deg); */
    /* transform: skew(50deg); */
    transform: translate(300px, 300px);
}

p{
    font-size: 2rem;
}
