.new-product_controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-product_control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.new-product_control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border:1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}
.new-product_button{
    text-align: right;
    /* margin-left: auto; */
} 
.new-product_button button{
    color: #ccc;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: rgb(59, 59, 132);
    border-radius: 10px;
}